# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# uv
.python-version

# VS Code
.vscode/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.egg-info/

# PyBullet outputs
*.mp4
*.gif